<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" type="text/css" href="base.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div class="headerBar">
    <button class="dark_mode">Dark Mode</button>
</div>

<section>
    <header>
        {% block header %}{% endblock %}
    </header>
    <center>
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
        {% block content %}{% endblock %}
    </center>
</section>
</body>
