{% extends 'base.html' %}

{% block header %}
<h1 style="text-align:center">{% block title %}Task List{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- New Task -->
<h3 style="text-align:center">New Task</h3>
<form method="POST">
    <input type="text" placeholder="Say something" name="name" required>
    <button type="submit">Send</button>
</form>

<!-- Current Tasks -->
{% if tasks %}
<table>
    {% for task in tasks %}
    <tr>
        <!-- Task Name -->
        <td>{{ task['name'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}