{% extends 'base.html' %}

{% block header %}
<h1 style="text-align:center">{% block title %}Task List{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>Hey there, {{session['username']}}</p>
<form action="{{ url_for('task_list.logout') }}" method="GET">
    <button type="submit">Logout</button>
</form>

<!-- New Task -->
<h3 style="text-align:center">New Task</h3>
<form method="POST">
    <input type="text" placeholder="Task Name" name="name" required>
    <button type="submit">Add Task</button>
</form>

<!-- Current Tasks -->
{% if tasks %}
<h3 style="text-align:center" class="card-title">Current Tasks</h3>
<table>
    {% for task in tasks %}
    <tr>
        <!-- Task Name -->
        <td>{{ task['name'] }}</td>
        <!-- Delete Button -->
        <td>
            <form action="{{ url_for('task_list.delete', id=task['id']) }}" method="POST">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
