{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Accounts View{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('task_list.profiles') }}" method="GET">
    <button type="submit">Back To All Accounts</button>
</form>

<h3>{{ account.name }}</h3>
<p>Role: {{ account.role }}</p>
<p>Team: {{ account.team.name }}</p>
{% if badges %}
<ul>
    {% for badge in badges %}
    <li>{{ badge }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if atleast("teacher") %}
<form method="POST">
    <input type="text" placeholder="Badges" name="badges"><br/>
    <button type="submit">Change</button>
</form>

<table>
    {% for submission in submissions %}
    <tr>
        <td>{{ submission['text'] }}</td>
        {% if submission.percent_mark != None %}
        <td>{{ submission.percent_mark ~ '%' }}</td>
        {% else %}
        <td>Unmarked</td>
        {% endif %}

        <td>
            <form action="{{ url_for('task_list.submission', id=submission.id) }}" method="GET">
                <button type="submit">View</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if atleast("admin") %}
<form action="{{ url_for('task_list.profiledelete', id=id) }}" method="POST">
    <button type="submit">Remove User</button>
</form>
{% endif %}
{% endblock %}
