{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Sign Up{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <input type="text" placeholder="Username" name="username" required>
    <input type="password" placeholder="Password" name="password" required>
    <input type="password" placeholder="Re-enter Password" name="chk_password" required>
    <button type="submit">Create</button>
</form>
<p>Alternatively, you can <a href="{{ url_for('task_list.login') }}">log in</a> using an existing account.</p>
{% endblock %}
