{% extends 'base.html' %}

{% block content %}

<style>
    /* Set height of body and the document to 100% to enable "full page tabs" */
    body,
    html {
        height: 90%;
        margin: 0;
        font-family: "Lucida Sans";
    }

    /* Style tab links */
    .tablink {
        /* bottom: 0; */
        background-color: rgb(48, 48, 48);
        color: rgb(255, 255, 255);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        height: 60px;
        width: 33.33333333%;
        /* max-width: 60%; */
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: black;
        display: none;
        /* first value of the padding determines the distance from the top*/
        padding: 0px 20px;
        height: 100%;
    }

</style>

<body>
    <div class="footer">
        <button style="position: absolute; bottom: 0%;" class="tablink" onclick="openPage('Teams', this, 'rgb(180,52,52)')">Teams</button>
        <button style="position: absolute; left: 33.33333%; bottom: 0%;" class="tablink" onclick="openPage('Assignments', this, 'rgb(180,52,52)')">Assignments</button>
        <button style="position: absolute; left: 66.66666%; bottom: 0%;" class="tablink" onclick="openPage('Profile', this, 'rgb(180,52,52)')" id="defaultOpen">Profile</button>
    </div>
    <div id="Teams" class="tabcontent">
        <center>
            <h3>Teams</h3>
            <p>Students can see the teams and their basic information. only teacher an invite?</p>
        </center>
    </div>

    <div id="Assignments" class="tabcontent">
        <center>
            <h3>Assignments</h3>
            <p>Assignments posted by the teacher are visible here</p>
        </center>
    </div>

    <div id="Profile" class="tabcontent">
        <center>
            <h3>Profile</h3>
            <p>Student Name</p>
            <p>Group that student is in. Else no group</p>
            <p>Group Health: 45/100: Else not in group</p>
            <p>Group Stars: 5 Else: not in group</p>
            <p>Badges: </br>bb </br>ss </br>mw: Else not in group</p>
            <p>(logout)</p>
        </center>
    </div>

    
</body>

<script>
    function openPage(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;


        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }

        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";

        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
        document.getElementsByClassName('tablink').style.color = rgb(225, 225, 225);
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

{% endblock %}
