{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Submission View{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('task_list.task', id=task.id) }}" method="GET">
    <button type="submit">Parent Task</button>
</form>
<form action="{{ url_for('task_list.profile', id=account.id) }}" method="GET">
    <button type="submit">Creator Profile</button>
</form>

{% if atleast("teacher") %}
<h3>Teacher</h3>
<form action="{{ url_for('task_list.submissiondelete', id=id) }}" method="POST">
    <button type="submit">Delete</button>
</form>
<form method="POST">
    <input type="number" placeholder="Mark" name="mark">
    <br>
    <button type="submit">Mark</button>
</form>
{% endif %}

<h3>Submission Info</h3>
<p>{{ "Mark: " ~ submission.percent_mark ~ '%' if submission.percent_mark != None else "Unmarked" }}</p>
<p>{{ submission['text'] }}</p>

{% endblock %}
