{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Submission View{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('task_list.task', id=task.id) }}" method="GET">
    <button type="submit">Back To All Submissions</button>
</form>

{% if atleast("teacher") %}
<h3>Mark Submission</h3>
<form method="POST">
    <input type="number" placeholder="Mark" name="mark">
    <br>
    <button type="submit">Mark</button>
</form>

<h3>Delete Submission</h3>
<form method="DELETE">
    <button type="submit">Delete</button>
</form>
{% endif %}

<h3>Submission Info</h3>
{{ submission['text'] }}

<h3>Submission Mark</h3>
{% if submission['percent_mark'] != None %}
{{ submission['percent_mark']~'%' }}
{% else %}
Unmarked
{% endif %}

{% endblock %}
