{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Submission View{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('task_list.task', id=task.id) }}" method="GET">
    <button type="submit">Back To Task</button>
</form>
<form action="{{ url_for('task_list.profile', id=account.id) }}" method="GET">
    <button type="submit">Back To Profile</button>
</form>

{% if atleast("teacher") %}
<form method="DELETE">
    <button type="submit">Delete</button>
</form>

<h3>Mark Submission</h3>
<form method="POST">
    <input type="number" placeholder="Mark" name="mark">
    <br>
    <button type="submit">Mark</button>
</form>
{% endif %}

<h3>Submission Info</h3>
{{ submission['text'] }}

<h3>Submission Mark</h3>
{% if submission['percent_mark'] != None %}
<p>{{ submission['percent_mark']~'%' }}</p>
{% else %}
<p>Unmarked</p>
{% endif %}

{% endblock %}
