{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Task List{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- New Task -->
{% if atleast("teacher") %}
<form method="POST">
    <input type="text" placeholder="Task Text" name="name" required>
    <br>
    <button type="submit">Add Task</button>
</form>
{% endif %}

<!-- Current Tasks -->
<h3>Current Tasks</h3>
<table>
    {% for task in tasks %}
    <tr>
        <!-- Task Name -->
        <td>{{ task['name'] }}</td>
        
        <!-- Task View -->
        <td>
            <form class="view_button" action="{{ url_for('task_list.task', id=task['id']) }}" method="GET">
                <button type="submit">View</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
