{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Task List{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- New Task -->
{% if atleast("teacher") %}
<h3>New Task</h3>
<form method="POST">
    <input type="text" placeholder="Task Text" name="name" required>
    <br>
    <button type="submit">Add Task</button>
</form>
{% endif %}

<!-- Current Tasks -->
{% if tasks %}
<h3>Current Tasks</h3>
<table>
    {% for task in tasks %}
    <tr>
        <!-- Task Name -->
        <td class="task">{{ task['name'] }}</td>
        
        <!-- Task View -->
        <td>
            <form action="{{ url_for('task_list.task', id=task['id']) }}" method="GET">
                <button type="submit" class="view">View</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
