{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Task View{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('task_list.tasks') }}" method="GET">
    <button type="submit">All Tasks</button>
</form>

<h3>Info</h3>
<p>{{ task['name'] }}</p>

<form method="POST">
    <input type="text" placeholder="Submission Text" name="text" required><br/>
    <button type="submit">Add Submission</button>
</form>

{% if atleast("teacher") %}
<h3>Teacher</h3>
<form action="{{ url_for('task_list.taskdelete', id=id) }}" method="POST">
    <button type="submit">Delete</button>
</form>
{% endif %}

<h3>Submissions</h3>
<table>
    {% for submission in submissions %}
        <tr>
            {% if atleast("teacher") %}
            <td>{{ submission.account.user | truncate(48, True) }}</td>
            {% endif %}
            <td>{{ submission.text | truncate(48, True) }}</td>
            <td>{{ "<em>Unmarked</em>"|safe if submission.percent_mark is none else submission.percent_mark ~ "%" }}</td>
            <td>
                <form class="view_button" action="{{ url_for('task_list.submission', id=submission.id) }}" method="GET">
                    <button type="submit">View</button>
                </form>
            </td>
        </tr>
    {% else %}
        <tr><td><em>No submissions currently.</em></td></tr>
    {% endfor %}
</table>

{% endblock %}
