{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Team View{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('task_list.teams') }}" method="GET">
    <button type="submit">All Teams</button>
</form>

{% if atleast("teacher") %}
<h3>Teacher</h3>
<form action="{{ url_for('task_list.teamdelete', id=id) }}" method="POST">
    <button type="submit">Delete</button>
</form>
{% endif %}

<h3>Team Info</h3>
<p>Team Name: {{ team.name }}</p>
<p>Team Health: {{ team.health }}</p>
{% if team.members %}
<ul>
    {% for account in team.members %}
    <a href="{{ url_for('task_list.profile', id=account.id) }}"><li>{{ account.user }}</li></a>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
