body {
    margin: 0;
}
.headerBar {
    background-color: #303030;
    margin: 0 0;
    height: 60px;
    color: white;
}

.dark_mode {
    float: right;
    cursor: pointer;
    padding: 3px 0px;
    background-color: #A2A2A2;
    margin: 8px 0;
    margin-right: 60px;
    border: none;
    width: 5%;
    height: 70%;
    color: white;
    font-size: 18;
}

.alert {
	color: rgb(42, 42, 42);
}
